/* Inline CSS Block 1 */

.relevanceai-chat-bubble-container {
    z-index: 99999;
}


/* Inline CSS Block 2 */

.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: auto;
}



/* Inline CSS Block 3 */


/* Set color style to inherit */
.inherit-color * {
    color: inherit;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
 
.margin-0 {
  margin: 0rem !important;
}
  
.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
  
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
  
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
  
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
  
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

/* Apply "..." at 100% width */
.truncate-width { 
		width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
/* Removes native scrollbar */
.no-scrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Academy Sidebar w-current link icon color 
a.relevance-academy_content_link.w-inline-block.w--current 
.relevance-academy_link-left-wrapper 
.icon-embed-small.w-embed {
    color: var(--base-color-brand--indigo);
}
a.relevance-academy_content_link.w-inline-block 
.relevance-academy_link-left-wrapper 
.icon-embed-small.w-embed {
    transition: all .2s;
}*/
a.relevance-academy_content_link.w-inline-block.current 
.relevance-academy_link-left-wrapper 
.icon-embed-small.w-embed {
    color: var(--base-color-brand--indigo);
}
a.relevance-academy_content_link.w-inline-block 
.relevance-academy_link-left-wrapper 
.icon-embed-small.w-embed {
    transition: all .2s;
}
.text-rich-text_darkmode figure.w-richtext-align-fullwidth.w-richtext-figure-type-video {
    margin-bottom: 2rem;
}
/* Style Scrollbars on sidebar*/
.relevance-academy_content_sidebar::-webkit-scrollbar {
  width: 30px; /* Width of the scrollbar */
}

.relevance-academy_content_sidebar::-webkit-scrollbar-track {
  background: transparent; /* No background on the track */
}

.relevance-academy_content_sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* White with opacity */
  border: 12px solid #0d162f; /* Stroke color to mimic padding */
  border-radius: 20px; /* Rounded corners for the thumb */
}

.relevance-academy_content_sidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Slightly less transparent on hover */
  border-color: #0d162f; /* Ensure the stroke remains on hover */
}

.home_faq_accordion:nth-of-type(even) {
    background-color: var(--body-bg);
}

.heading-style-h1.has-highlights.w-richtext {
    margin: 0!important;!importan;!importa;!import;!impor;!impo;!imp;!im;!i;!;
    padding: 0;
}

.heading-style-h1.has-highlights.w-richtext::before,
.heading-style-h1.has-highlights.w-richtext::after {
    display: none;
}

.heading-style-h1.has-highlights.w-richtext em{
    font-style: normal!important;
    color: var(--base-color-brand--indigo);
}

h2.heading-style-h2.has-highlights em {
    font-style: normal!important;
    color: var(--base-color-brand--indigo);
}

/*Agent Drop*/
.heading-style-h2.text-wrap-balance.text-color-alternate.w-richtext::before,
.heading-style-h2.text-wrap-balance.text-color-alternate.w-richtext::after {
    display: none;
}

.heading-style-h2.text-wrap-balance.text-color-alternate.w-richtext em{
    font-style: normal!important;
    color: #A4A1FF;
}

h2.heading-style-h2.text-wrap-balance.text-color-alternate em {
    font-style: normal!important;
    color: #A4A1FF;
}
nav#w-dropdown-list-8 {
    min-width: 0 !important;
}
@media (max-width: 68.9375rem) {
	.rel-navbar_component.is-desktop {display:none}
	.rel-navbar_component.is-mobile {display:block}
}

.rel-navbar_component.is-mobile div#w-nav-overlay-2 {
    padding-left: 5%;
    padding-right: 5%;
}

.text-rich-text.purple-links a {
	color: var(--text-color--text-secondary);
}


/* Inline CSS Block 4 */


@media (max-width: 991px) {
  .testimonials-marquee, .testimonials-collection, .testimonials-list {
    width: max-content;
  }
}



